body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* margin-top: 70px; */

    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */

    background-color: rgba(72, 126, 176, 0.3);
}

.nav {
    box-sizing: border-box;

    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;

    background-color: #444F5A;
    padding-left: 10%;

    display: flex;
    align-items: center;
    /* box-shadow: 0px 2px 2px #888; */
}

.nav h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

#github {
    position: absolute;
    right: 10%;

    font-size: 2em;
    color: #fff;
}

#github:hover {
    cursor: pointer;
}

.inputs {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #dcdde1;

    width: 25%;
    border-radius: 15px;

    background-color: #fff;
    margin-left: 5%;
    box-shadow: inset 0 0 10px #888, 0 0 20px #888;
}

#search {
    font-size: 13rem;
    color: #495057;
}

.url {
    box-sizing: border-box;
    padding-left: 2%;
    margin: 0 1%;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 90%;
    height: 50px;

    border-radius: 5px;
    border: none;
    background-color:rgba(68, 79, 90, 0.8);
    /* box-shadow: 0 0 10px #888; */
    outline: none;

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 1.3rem;
}

.url:hover {
    outline: none;
}

button {
    width: 30%;
    height: 50px;
    border-radius: 50px;
    border: none;
    /* box-shadow: 0 0 10px #888; */
    background-color: rgba(68, 79, 90, 0.5);

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 1.2em;
    margin: 0 1%;
    margin-bottom: 40px;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.output {
    box-sizing: border-box;
    width: 40%;
    /* height: 500px; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 2.5% 0;
    /* padding-left: 2.5%; */

    background-color: #444F5A;
    margin-left: 5%;
    box-shadow: inset 0 0 10px #888, 0 0 20px #888;
    border: 5px solid #dcdde1;
    display: none;
}

#text {
    margin-left: 2.5%;
}

h1, p, h3, h4 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin: 5px 0;
}

/* Style for spinner */
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #fff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
/* end of style for spinner */
